@model HRPortal.Web.Models.ViewModels.PoliciesVM
@{
    ViewBag.Title = "ManagePolicies";
}

@section navbar{
    @Html.Partial("HRNavbar")
}

<h2>Manage Policies</h2>

@using (Html.BeginForm("AddPolicy", "HR", FormMethod.Get))
{
    <button class="btn btn-primary">New Policy</button>
}

<h4>Select a category to view its policies</h4>
@using (Html.BeginForm("ViewPolicies", "HR", FormMethod.Get))
{
    @Html.DropDownListFor(m => m.SelectedCategoryId, Model.CategoryItems, "Choose one", new { @class = "form-control" })
    <button class="btn btn-primary">Submit</button>
}